#### 1.Load the dataset into the pandas data frame. To do so, you first need to import the pandas library, and then, use the function pd.read_csv(), as shown below:

In [2]:
import pandas as pd 
#reading the data into the dataframe into the object data
df = pd.read_csv("https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/USA_Housing.csv", header=0)

###2.	Create a variable X to store the independent features. Use the drop()function to include all features but the dependent or the target variable, which in this case is named Price. Then, print out the top 5 instances of the variable

In [3]:
X = df.drop('Price', axis=1)
X.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,USNS Raymond\nFPO AE 09386

### 3.	Print the shape of your new created feature matrix using the command X.shape. The first value indicates the number of observations in the dataset (5000), and the second value represents the number of features (6).

In [5]:
X.shape

(5000, 6)

### 4. Similarly, we will create a variable y that will store the target values. We will just use indexing to grab only the target column. Indexing allows you to access a section of a larger element. In this case, we want to grab the column named Price from the data frame df.

### Then, print out the top 10 values of the variable.

In [6]:
y = df['Price']
y.head(10)

0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
5    1.068138e+06
6    1.502056e+06
7    1.573937e+06
8    7.988695e+05
9    1.545155e+06
Name: Price, dtype: float64

### 5.	Print the shape of your new variable using the command: y.shape. The shape should be one-dimensional with length equal to the number of observations (5000) only.

In [7]:
y.shape

(5000,)

### 6.	Split the train and test with 80:20 proportion. To do so, use train_test_split() function from sklearn.model_selection package.

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### 7.	Print the shape of X_train, X_test, y_train, y_test.

In [9]:
print("X_train : ",X_train.shape)
print("X_test : ",X_test.shape)
print("y_train : ",y_train.shape)
print("y_test : ",y_test.shape)

X_train :  (4000, 6)
X_test :  (1000, 6)
y_train :  (4000,)
y_test :  (1000,)