In [35]:
import pandas as pd
import xgboost as xgb
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [36]:
data = pd.read_csv("data/adult-data.csv", names=['age', 'workclass', 'education-num',
                                                 'occupation', 'capital-gain', 'capital-loss',
                                                 'hours-per-week', 'income'])

In [37]:
data.tail()

,age,workclass,education-num,occupation,capital-gain,capital-loss,hours-per-week,income
32556,27,Private,12,Tech-support,0,0,38,<=50K
32557,40,Private,9,Machine-op-inspct,0,0,40,>50K
32558,58,Private,9,Adm-clerical,0,0,40,<=50K
32559,22,Private,9,Adm-clerical,0,0,20,<=50K
32560,52,Self-emp-inc,9,Exec-managerial,15024,0,40,>50K

In [38]:
data['workclass'] = LabelEncoder().fit_transform(data['workclass'])
data['occupation'] = LabelEncoder().fit_transform(data['occupation'])
data['income'] = LabelEncoder().fit_transform(data['income'])

In [39]:
X = data.copy()
X.drop("income", inplace = True, axis = 1)
Y = data.income

In [40]:
X_train, X_test = X[:int(X.shape[0]*0.8)].values, X[int(X.shape[0]*0.8):].values
Y_train, Y_test = Y[:int(Y.shape[0]*0.8)].values, Y[int(Y.shape[0]*0.8):].values

In [41]:
train = xgb.DMatrix(X_train, label=Y_train)
test = xgb.DMatrix(X_test, label=Y_test)

In [42]:
param = {'max_depth':7, 'eta':0.1, 'silent':1, 'objective':'binary:hinge'}
num_round = 50
model = xgb.train(param, train, num_round)

In [43]:
preds = model.predict(test)

In [44]:
accuracy = accuracy_score(Y[int(Y.shape[0]*0.8):].values, preds)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 83.66%