In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
from sklearn import manifold

from keras.models import Model, Sequential
from keras.layers import Input, Dense, Concatenate, Reshape, Dropout
from keras.layers.embeddings import Embedding
from keras.callbacks import ModelCheckpoint, EarlyStopping

Using TensorFlow backend.

In [2]:
%matplotlib inline

In [44]:
data = pd.read_csv('data/avocado.csv')

In [43]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,18239,18240,18241,18242,18243,18244,18245,18246,18247,18248
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,2,3,4,5,6,7,8,9,10,11
Date,27-12-2015,20-12-2015,13-12-2015,06-12-2015,29-11-2015,22-11-2015,15-11-2015,08-11-2015,01-11-2015,25-10-2015,...,11-03-2018,04-03-2018,25-02-2018,18-02-2018,11-02-2018,04-02-2018,28-01-2018,21-01-2018,14-01-2018,07-01-2018
AveragePrice,1.33,1.35,0.93,1.08,1.28,1.26,0.99,0.98,1.02,1.07,...,1.56,1.54,1.57,1.56,1.57,1.63,1.71,1.87,1.93,1.62
Total Volume,64236.6,54877,118220,78992.1,51039.6,55979.8,83453.8,109428,99811.4,74338.8,...,22128.4,17393.3,18421.2,17597.1,15986.2,17074.8,13888,13766.8,16205.2,17489.6
4046,1036.74,674.28,794.7,1132,941.48,1184.27,1368.92,703.75,1022.15,842.4,...,2162.67,1832.24,1974.26,1892.05,1924.28,2046.96,1191.7,1191.92,1527.63,2894.77
4225,54454.8,44638.8,109150,71976.4,43838.4,48068,73672.7,101815,87315.6,64757.4,...,3194.25,1905.57,2482.65,1928.36,1368.32,1529.2,3431.5,2452.79,2981.04,2356.13
4770,48.16,58.33,130.5,72.58,75.78,43.61,93.26,80,85.34,113,...,8.93,0,0,0,0,0,0,727.94,727.01,224.53
Total Bags,8696.87,9505.56,8145.35,5811.16,6183.95,6683.91,8318.86,6829.22,11388.4,8625.92,...,16762.6,13655.5,13964.3,13776.7,12693.6,13498.7,9264.84,9394.11,10969.5,12014.1
Small Bags,8603.62,9408.07,8042.21,5677.4,5986.26,6556.47,8196.81,6266.85,11104.5,8061.47,...,16510.3,13401.9,13698.3,13553.5,12437.4,13066.8,8940.04,9351.8,10919.5,11988.1
Large Bags,93.25,97.49,103.14,133.76,197.69,127.44,122.05,562.37,283.83,564.45,...,252.25,253.56,266.06,223.18,256.22,431.85,324.8,42.31,50,26.01
XLarge Bags,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
type,conventional,conventional,conventional,conventional,conventional,conventional,conventional,conventional,conventional,conventional,...,organic,organic,organic,organic,organic,organic,organic,organic,organic,organic
year,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
region,Albany,Albany,Albany,Albany,Albany,Albany,Albany,Albany,Albany,Albany,...,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico

In [42]:
data.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [6]:
data['Day'], data['Month'] = data.Date.str[:2], data.Date.str[3:5]

In [7]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,18239,18240,18241,18242,18243,18244,18245,18246,18247,18248
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,2,3,4,5,6,7,8,9,10,11
Date,27-12-2015,20-12-2015,13-12-2015,06-12-2015,29-11-2015,22-11-2015,15-11-2015,08-11-2015,01-11-2015,25-10-2015,...,11-03-2018,04-03-2018,25-02-2018,18-02-2018,11-02-2018,04-02-2018,28-01-2018,21-01-2018,14-01-2018,07-01-2018
AveragePrice,1.33,1.35,0.93,1.08,1.28,1.26,0.99,0.98,1.02,1.07,...,1.56,1.54,1.57,1.56,1.57,1.63,1.71,1.87,1.93,1.62
Total Volume,64236.6,54877,118220,78992.1,51039.6,55979.8,83453.8,109428,99811.4,74338.8,...,22128.4,17393.3,18421.2,17597.1,15986.2,17074.8,13888,13766.8,16205.2,17489.6
4046,1036.74,674.28,794.7,1132,941.48,1184.27,1368.92,703.75,1022.15,842.4,...,2162.67,1832.24,1974.26,1892.05,1924.28,2046.96,1191.7,1191.92,1527.63,2894.77
4225,54454.8,44638.8,109150,71976.4,43838.4,48068,73672.7,101815,87315.6,64757.4,...,3194.25,1905.57,2482.65,1928.36,1368.32,1529.2,3431.5,2452.79,2981.04,2356.13
4770,48.16,58.33,130.5,72.58,75.78,43.61,93.26,80,85.34,113,...,8.93,0,0,0,0,0,0,727.94,727.01,224.53
Total Bags,8696.87,9505.56,8145.35,5811.16,6183.95,6683.91,8318.86,6829.22,11388.4,8625.92,...,16762.6,13655.5,13964.3,13776.7,12693.6,13498.7,9264.84,9394.11,10969.5,12014.1
Small Bags,8603.62,9408.07,8042.21,5677.4,5986.26,6556.47,8196.81,6266.85,11104.5,8061.47,...,16510.3,13401.9,13698.3,13553.5,12437.4,13066.8,8940.04,9351.8,10919.5,11988.1
Large Bags,93.25,97.49,103.14,133.76,197.69,127.44,122.05,562.37,283.83,564.45,...,252.25,253.56,266.06,223.18,256.22,431.85,324.8,42.31,50,26.01
XLarge Bags,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
type,conventional,conventional,conventional,conventional,conventional,conventional,conventional,conventional,conventional,conventional,...,organic,organic,organic,organic,organic,organic,organic,organic,organic,organic
year,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
region,Albany,Albany,Albany,Albany,Albany,Albany,Albany,Albany,Albany,Albany,...,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico,WestTexNewMexico
Day,27,20,13,06,29,22,15,08,01,25,...,11,04,25,18,11,04,28,21,14,07
Month,12,12,12,12,11,11,11,11,11,10,...,03,03,02,02,02,02,01,01,01,01

In [8]:
data = data.drop(['Unnamed: 0', 'Date'], axis = 1)

In [9]:
label_dict = defaultdict(LabelEncoder)

In [11]:
data[['region', 'type', 'Day', 'Month', 'year']] = data[['region', 'type', 'Day', 'Month', 'year']].apply(lambda x: label_dict[x.name].fit_transform(x))

In [12]:
X = data
y = X.pop('AveragePrice')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=9)

In [13]:
X_train.shape

(12774, 13)

In [98]:
filepath="avocado-{epoch:02d}-{val_loss:.2f}.hdf5"
model_ckpt = ModelCheckpoint(filepath, monitor='val_loss', verbose=1, save_best_only=True, mode='auto')
es = EarlyStopping(monitor='val_loss', min_delta=1, patience=5, verbose=1)
callbacks = [model_ckpt, es]

In [99]:
model = Sequential()
model.add(Dense(units=16, activation='relu', input_dim=13))
model.add(Dense(units=8, activation='relu'))
model.add(Dense(units=1, activation='linear'))

model.compile(loss='mse', optimizer='adam')

In [100]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_55 (Dense)             (None, 16)                224
_________________________________________________________________
dense_56 (Dense)             (None, 8)                 136
_________________________________________________________________
dense_57 (Dense)             (None, 1)                 9
=================================================================
Total params: 369
Trainable params: 369
Non-trainable params: 0
_________________________________________________________________

In [101]:
model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs=40, batch_size=32, callbacks = callbacks)

Train on 12774 samples, validate on 5475 samples
Epoch 1/40
12774/12774 [==============================] - 2s 126us/step - loss: 2807968453.0568 - val_loss: 10274988.9596

Epoch 00001: val_loss improved from inf to 10274988.95963, saving model to avocado-01-10274988.96.hdf5
Epoch 2/40
12774/12774 [==============================] - 1s 57us/step - loss: 9310287.0546 - val_loss: 4794927.5484

Epoch 00002: val_loss improved from 10274988.95963 to 4794927.54840, saving model to avocado-02-4794927.55.hdf5
Epoch 3/40
12774/12774 [==============================] - 1s 58us/step - loss: 4720091.1448 - val_loss: 2599052.6609

Epoch 00003: val_loss improved from 4794927.54840 to 2599052.66086, saving model to avocado-03-2599052.66.hdf5
Epoch 4/40
12774/12774 [==============================] - 1s 56us/step - loss: 2395575.2206 - val_loss: 1035682.3799

Epoch 00004: val_loss improved from 2599052.66086 to 1035682.37990, saving model to avocado-04-1035682.38.hdf5
Epoch 5/40
12774/12774 [==============================] - 1s 57us/step - loss: 1176252.2443 - val_loss: 442940.6104

Epoch 00005: val_loss improved from 1035682.37990 to 442940.61037, saving model to avocado-05-442940.61.hdf5
Epoch 6/40
12774/12774 [==============================] - 1s 57us/step - loss: 382684.5956 - val_loss: 103589.1652

Epoch 00006: val_loss improved from 442940.61037 to 103589.16521, saving model to avocado-06-103589.17.hdf5
Epoch 7/40
12774/12774 [==============================] - 1s 57us/step - loss: 102618.2965 - val_loss: 35995.3213

Epoch 00007: val_loss improved from 103589.16521 to 35995.32131, saving model to avocado-07-35995.32.hdf5
Epoch 8/40
12774/12774 [==============================] - 1s 57us/step - loss: 43944.2087 - val_loss: 17512.2465

Epoch 00008: val_loss improved from 35995.32131 to 17512.24654, saving model to avocado-08-17512.25.hdf5
Epoch 9/40
12774/12774 [==============================] - 1s 57us/step - loss: 21300.8396 - val_loss: 8449.6287

Epoch 00009: val_loss improved from 17512.24654 to 8449.62870, saving model to avocado-09-8449.63.hdf5
Epoch 10/40
12774/12774 [==============================] - 1s 57us/step - loss: 9818.1576 - val_loss: 4052.3710

Epoch 00010: val_loss improved from 8449.62870 to 4052.37096, saving model to avocado-10-4052.37.hdf5
Epoch 11/40
12774/12774 [==============================] - 1s 57us/step - loss: 4098.9922 - val_loss: 1868.0047

Epoch 00011: val_loss improved from 4052.37096 to 1868.00470, saving model to avocado-11-1868.00.hdf5
Epoch 12/40
12774/12774 [==============================] - 1s 56us/step - loss: 1762.0228 - val_loss: 946.0274

Epoch 00012: val_loss improved from 1868.00470 to 946.02738, saving model to avocado-12-946.03.hdf5
Epoch 13/40
12774/12774 [==============================] - 1s 57us/step - loss: 847.7119 - val_loss: 568.6092

Epoch 00013: val_loss improved from 946.02738 to 568.60919, saving model to avocado-13-568.61.hdf5
Epoch 14/40
12774/12774 [==============================] - 1s 58us/step - loss: 494.9650 - val_loss: 416.9525

Epoch 00014: val_loss improved from 568.60919 to 416.95253, saving model to avocado-14-416.95.hdf5
Epoch 15/40
12774/12774 [==============================] - 1s 61us/step - loss: 332.0644 - val_loss: 338.9428

Epoch 00015: val_loss improved from 416.95253 to 338.94275, saving model to avocado-15-338.94.hdf5
Epoch 16/40
12774/12774 [==============================] - 1s 59us/step - loss: 251.4944 - val_loss: 300.1280

Epoch 00016: val_loss improved from 338.94275 to 300.12803, saving model to avocado-16-300.13.hdf5
Epoch 17/40
12774/12774 [==============================] - 1s 59us/step - loss: 208.7336 - val_loss: 274.0946

Epoch 00017: val_loss improved from 300.12803 to 274.09463, saving model to avocado-17-274.09.hdf5
Epoch 18/40
12774/12774 [==============================] - 1s 59us/step - loss: 179.4421 - val_loss: 255.8776

Epoch 00018: val_loss improved from 274.09463 to 255.87758, saving model to avocado-18-255.88.hdf5
Epoch 19/40
12774/12774 [==============================] - 1s 61us/step - loss: 155.8022 - val_loss: 240.9120

Epoch 00019: val_loss improved from 255.87758 to 240.91204, saving model to avocado-19-240.91.hdf5
Epoch 20/40
12774/12774 [==============================] - 1s 56us/step - loss: 134.4904 - val_loss: 225.6607

Epoch 00020: val_loss improved from 240.91204 to 225.66072, saving model to avocado-20-225.66.hdf5
Epoch 21/40
12774/12774 [==============================] - 1s 57us/step - loss: 113.4920 - val_loss: 212.1241

Epoch 00021: val_loss improved from 225.66072 to 212.12408, saving model to avocado-21-212.12.hdf5
Epoch 22/40
12774/12774 [==============================] - 1s 57us/step - loss: 94.6087 - val_loss: 199.0658

Epoch 00022: val_loss improved from 212.12408 to 199.06577, saving model to avocado-22-199.07.hdf5
Epoch 23/40
12774/12774 [==============================] - 1s 58us/step - loss: 77.1141 - val_loss: 185.3303

Epoch 00023: val_loss improved from 199.06577 to 185.33034, saving model to avocado-23-185.33.hdf5
Epoch 24/40
12774/12774 [==============================] - 1s 56us/step - loss: 61.8408 - val_loss: 176.3605

Epoch 00024: val_loss improved from 185.33034 to 176.36052, saving model to avocado-24-176.36.hdf5
Epoch 25/40
12774/12774 [==============================] - 1s 56us/step - loss: 48.5683 - val_loss: 168.5452

Epoch 00025: val_loss improved from 176.36052 to 168.54520, saving model to avocado-25-168.55.hdf5
Epoch 26/40
12774/12774 [==============================] - 1s 57us/step - loss: 37.1715 - val_loss: 152.3271

Epoch 00026: val_loss improved from 168.54520 to 152.32709, saving model to avocado-26-152.33.hdf5
Epoch 27/40
12774/12774 [==============================] - 1s 58us/step - loss: 27.8159 - val_loss: 147.0637

Epoch 00027: val_loss improved from 152.32709 to 147.06368, saving model to avocado-27-147.06.hdf5
Epoch 28/40
12774/12774 [==============================] - 1s 63us/step - loss: 20.2086 - val_loss: 143.1168

Epoch 00028: val_loss improved from 147.06368 to 143.11678, saving model to avocado-28-143.12.hdf5
Epoch 29/40
12774/12774 [==============================] - 1s 59us/step - loss: 14.4276 - val_loss: 122.0082

Epoch 00029: val_loss improved from 143.11678 to 122.00825, saving model to avocado-29-122.01.hdf5
Epoch 30/40
12774/12774 [==============================] - 1s 57us/step - loss: 10.4560 - val_loss: 90.9256

Epoch 00030: val_loss improved from 122.00825 to 90.92557, saving model to avocado-30-90.93.hdf5
Epoch 31/40
12774/12774 [==============================] - 1s 58us/step - loss: 7.8132 - val_loss: 66.7528

Epoch 00031: val_loss improved from 90.92557 to 66.75284, saving model to avocado-31-66.75.hdf5
Epoch 32/40
12774/12774 [==============================] - 1s 59us/step - loss: 6.1247 - val_loss: 49.3973

Epoch 00032: val_loss improved from 66.75284 to 49.39731, saving model to avocado-32-49.40.hdf5
Epoch 33/40
12774/12774 [==============================] - 1s 58us/step - loss: 5.1044 - val_loss: 34.2084

Epoch 00033: val_loss improved from 49.39731 to 34.20841, saving model to avocado-33-34.21.hdf5
Epoch 34/40
12774/12774 [==============================] - 1s 58us/step - loss: 4.4122 - val_loss: 25.0560

Epoch 00034: val_loss improved from 34.20841 to 25.05597, saving model to avocado-34-25.06.hdf5
Epoch 35/40
12774/12774 [==============================] - 1s 63us/step - loss: 3.8866 - val_loss: 21.1545

Epoch 00035: val_loss improved from 25.05597 to 21.15453, saving model to avocado-35-21.15.hdf5
Epoch 36/40
12774/12774 [==============================] - 1s 63us/step - loss: 3.4361 - val_loss: 19.2374

Epoch 00036: val_loss improved from 21.15453 to 19.23741, saving model to avocado-36-19.24.hdf5
Epoch 37/40
12774/12774 [==============================] - 1s 60us/step - loss: 3.0521 - val_loss: 17.4910

Epoch 00037: val_loss improved from 19.23741 to 17.49101, saving model to avocado-37-17.49.hdf5
Epoch 38/40
12774/12774 [==============================] - 1s 63us/step - loss: 2.7292 - val_loss: 15.7763

Epoch 00038: val_loss improved from 17.49101 to 15.77628, saving model to avocado-38-15.78.hdf5
Epoch 39/40
12774/12774 [==============================] - 1s 60us/step - loss: 2.4135 - val_loss: 14.0208

Epoch 00039: val_loss improved from 15.77628 to 14.02075, saving model to avocado-39-14.02.hdf5
Epoch 40/40
12774/12774 [==============================] - 1s 61us/step - loss: 2.1118 - val_loss: 11.9952

Epoch 00040: val_loss improved from 14.02075 to 11.99519, saving model to avocado-40-12.00.hdf5

In [102]:
model.evaluate(X_test, y_test)

5475/5475 [==============================] - 0s 26us/step

11.995191503812189